body{
    text-align: center;
    background-color: rgb(255, 186, 246);
}

.titulo{
    color:blueviolet;
    margin: 30px 0;
}

.imagem_gatinho{
    height: 100px;
}

.botao {
    background-color: rgb(214, 71, 230);
    color: white;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}